@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
}
div.menu-card:nth-child(3) {
  display: inline-block;
  width: 50%;
  overflow: hidden;
}
div.menu-card:nth-child(4) {
  display: inline-block;
  width: 50%;
  overflow: hidden;
}

div.menu-card:nth-child(3) img {
  max-width: fit-content;
  transform: translate(-28%, 0px);
  position: relative;
}
div.menu-card:nth-child(4) img {
  max-width: fit-content;
  transform: translate(-28%, 0px);
  position: relative;
}
